q:lang(zh-CN) {
    quotes: '[' ']' '"' '"' "<" " >";
}

.the-title {
    color: green;
}

.the-title:before {
    content: open-quote;
}

.the-title:after {
    content: attr(data-title) close-quote;
}

.parent {
    counter-reset: Item;
}

.children {
    display: block;
    margin-left: 2em;
}

.children:before {
    content: counters(Item, '.');
    /*content: counter(Item);*/
    counter-increment: Item;
}
