q:lang(zh-CN) {
    quotes: '[' ']' '"' '"' "<" " >";
}

.the-title {
    color: green;
}

.the-title:before {
    content: open-quote;
}

.the-title:after {
    content: attr(data-title) close-quote;
}

.parent {
    counter-reset: Item;
}

.children {
    display: block;
    margin-left: 2em;
}

.children:before {
    content: counters(Item, '.');
    /*content: counter(Item);*/
    counter-increment: Item;
}

ol {
    list-style: lower-alpha inside url("https://avatars1.githubusercontent.com/u/4827986?v=3&s=20");
}

@page {
    margin: 3cm;
}

.text-danger {
    color: #FFC107;
}

.bg-img-1 {
    background-image: url("http://img4.hao123.com/data/1_769b81ec81a431d133839cb13289dee5_510");
    background-size: cover;
}

.lyric {
    font-family: inherit;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1em;
}

.lyric-word {
    letter-spacing: .2em;
    word-spacing: 1em;
}
