body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

::selection {
    color: #ffffff;
    background: #69B56D;
    text-shadow: none;
}

.header {
    background-color: #00827c;
    text-align: center;
    padding: 2px 0;
}

.footer {
    background-color: #009c95;
    padding: 8px;
}

.nav {
    min-width: 250px;
    background-color: #0e8c8c;
    overflow-y: auto;
}

.content {
    flex: 1;
    padding: 8px;
    background-color: #00b5ad;
    overflow-y: auto;
}

.container {
    height: 570px;
}

.layout {
    display: flex;
}