body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > * {
    position: relative;
    border: 1px dashed rgba(245, 103, 96, .8);
    display: block;
    min-height: 2em;
    margin-bottom: 2em;
}

.block-box {
    position: relative;
    border: 1px dashed rgba(245, 103, 96, .8);
    display: block;
    min-height: 2em;
}

body > *:empty {

}

.title {
    text-align: center;
    color: #ff2a00;
}

/*
 * The background style of the content, padding, and border areas of a box is specified by the 'background' property of the generating element.
 * Margin backgrounds are always transparent.
 */
.box-model {
    display: block;
    padding: 10px;
    margin: 10px;
    border: 10px dashed #8d00ff;
    min-height: 2em;

    background-color: #006666;
}

.box-child {
    margin: inherit;
    padding: inherit;
    border: inherit;
    height: inherit;
}

.inline-block-box {
    display: inline-block;
}

.margin-test {
    display: inline;
    margin: 10px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.border {
    border: 1px solid #9E9E9E;
}

.border-red {
    border-color: #F44336;
}

.border-green {
    border-color: #4CAF50;
}

.border-blue {
    border-color: #3F51B5;
}

.bg-red {
    background-color: #F44336;
}

.bg-green {
    background-color: #4CAF50;
}

.bg-blue {
    background-color: #3F51B5;
}

.margin {
    margin: 10px;
}

.em {
    padding: 2px;
    margin: 1em;
    border: medium dashed;
    line-height: 2.4em;
}

.relative {
    position: relative;
    left: 0;
    right: 0;
}

.absolute {
    position: absolute;
    left: 0;
    right: 0;
}

.fixed {
    position: fixed;
    left: 0;
    right: 0;
}

.left10:active {
    left: 10%;
}

.left20:active {
    left: 20%;
}

.left50:active {
    left: 50%;
}

.left10 {
    left: 10px;
}

.left20 {
    left: 20px;
}

.left50 {
    left: 50px;
}

.top10 {
    top: 10px;
}

.top20 {
    top: 20px;
}

.top50 {
    top: 50px;
}

.width-half {
    width: 50%;
}

.text {
    display: inline-block;
    line-height: 1em;
    padding: .5em;
    border-radius: .3em;
    background-color: #8BC34A;
    color: #ffffff;
}

.tip {
    display: inline-block;
    line-height: 1em;
    padding: .5em;
    border-radius: .3em;
    background-color: #4CAF50;
    color: #ffffff;
    float: right;
}

.transition {
    transition: all .6s;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.block-box-center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.clear-fix {
    clear: both;
}

.img {
    object-fit: cover;
}

.box-50 {
    width: 50px;
    height: 50px;
}

.box-100 {
    width: 100px;
    height: 100px;
}

.box-200 {
    width: 200px;
    height: 200px;
}
