<style>
    .menus {
        list-style-type: none;
        padding: 0;
    }

    .sub-menus {
        list-style-type: none;
        padding: 0 0 0 2em;
    }

    .menus li {
        margin: 5px 0;
    }

    .menus .active > a {
        background-color: #fdcfcf;
        font-size: 1.2em;
    }

    .menus a[href] {
        color: #dd82ff;
        font-weight: bold;
    }

    .menus a {
        text-decoration: none;
    }
</style>

<ul class="menus">
    <menu-node ng-repeat="menu in menus track by $index" menu="menu"></menu-node>
</ul>