<style>
    .menus {
        list-style-type: none;
        padding: 0;
    }

    .sub-menus {
        list-style-type: none;
        padding: 0 0 0 2em;
    }

    .menus li {
        margin: 10px 0;
    }

    .menus .active > a {
        background: rgba(0, 0, 0, 0.03);
        border-radius: 0;
        box-shadow: 2px 0 0 inset;
    }

    .menus a {
        text-decoration: none;
        display: inline-block;
        line-height: 2em;
        padding-left: 2px;
        height: 2em;
        width: 100%;
    }

    .menus a:not([href]) {
        color: rgba(0, 0, 0, 0.5);
    }
</style>

<ul class="menus">
    <menu-node ng-repeat="menu in menus track by $index" menu="menu"></menu-node>
</ul>