body > * {
    border: 1px dashed rgba(245, 103, 96, 0.8);
    margin-bottom: 2em;
    display: block;
    min-height: 2em;
}

body > *:empty {

}

.title {
    text-align: center;
    color: #ff2a00;
}

/*
 * The background style of the content, padding, and border areas of a box is specified by the 'background' property of the generating element.
 * Margin backgrounds are always transparent.
 */
.box-model {
    display: block;
    padding: 10px;
    margin: 10px;
    border: 10px dashed #8d00ff;
    min-height: 2em;

    background-color: #006666;
}

.box-child {
    margin: inherit;
    padding: inherit;
    border: inherit;
    height: inherit;
}

.inline-block-box {
    display: inline-block;
}

.margin-test {
    display: inline;
    margin: 10px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.border {
    border: 1px solid #ff2a00;
}

.margin {
    margin: 10px;
}

.em {
    padding: 2px;
    margin: 1em;
    border: medium dashed;
    line-height: 2.4em;
}
