<style>
    .messages {
        height: 365px;
        overflow-y: scroll;
        margin-bottom: 2px;
        border: 1px solid rgba(39, 41, 43, 0.15);
        border-radius: 0.2857rem;
    }

    .title {
        text-align: center;
    }
</style>

<div>
    <!-- loginForm -->
    <div ng-show="place === 'loginForm'">
        <form class="ui form" name="loginForm" ng-submit="login(user)">
            <h4 class="ui dividing header">用户信息</h4>

            <div class="fields">
                <div class="required field">
                    <label>昵称</label>

                    <div class="ui icon input">
                        <input type="text" ng-model="user.userName" required placeholder="昵称">
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="required field">
                    <label>性别</label>
                    <select ng-model="user.gender" required>
                        <option value="">请选择</option>
                        <option value="male">男</option>
                        <option value="female">女</option>
                    </select>
                </div>
            </div>

            <button class="ui blue labeled submit button" type="submit" ng-disabled="loginForm.$invalid">立即注册</button>
            <button class="ui blue labeled submit button" type="button" ng-click="place = 'chatForm'">随便看看</button>
        </form>
    </div>

    <!-- chatForm -->
    <div ng-show="place !== 'loginForm'" class="ui minimal comments">
        <h3 class="ui header title" ng-bind="name"></h3>

        <div class="messages">
            <div class="comment" ng-repeat="message in messages track by $index">
                <a class="avatar">
                    <i class="big icon {{message.anchor.gender === 'female' ? 'purple female' : 'male'}}"></i>
                </a>

                <div class="content">
                    <a class="author" ng-bind="message.anchor.userName"></a>

                    <div class="metadata">
                        <span class="date" ng-bind="message.date"></span>
                    </div>

                    <div class="text" ng-bind="message.content"></div>

                    <div class="actions">
                        <a class="reply">回复</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <form class="ui reply form" ng-submit="sendMessage(message)" name="chatForm">
                <div class="field">
                    <textarea ng-model="message.content" required ng-disabled="!registered" placeholder="输入消息"></textarea>
                </div>
                <button class="ui blue labeled submit icon button" type="submit" ng-disabled="chatForm.$invalid || !registered">
                    <i class="icon send"></i> 发送信息
                </button>
                <button class="ui blue labeled submit button" type="button" ng-hide="registered" ng-click="place = 'loginForm'">立即注册</button>
            </form>
        </div>
    </div>
</div>