* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

.text {
    border: 1px solid #00918b;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
}

.title {
    padding: 10px 0;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0);
    outline: 0;
    cursor: pointer;
}

.btn-primary {
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.or {
    position: relative;
    display: inline-block;
}

.or:before {
    content: 'or';
    border-radius: 2em;
    padding: 2px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #FFF;
    top: -16px;
    left: -10px;

}

.mg10 {
    margin: 10px;
}

.btn.loading {
    position: relative;
    cursor: default;
    pointer-events: none;
    color: rgba(0, 0, 0, 0) !important;
}

.btn.loading:before {
    position: absolute;
    content: '';
    width: 1.2857em;
    height: 1.2857em;
    top: 45%;
    left: 47%;
    margin: -.64285em 0 0 -.64285em;
    border-radius: 500rem;
    border: .2em solid rgba(0, 0, 0, 0.15);
}

.btn.loading:after {
    position: absolute;
    content: '';
    top: 45%;
    left: 47%;
    margin: -.64285em 0 0 -.64285em;
    width: 1.2857em;
    height: 1.2857em;
    -webkit-animation: button-spin .6s linear;
    animation: button-spin .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border: .2em solid rgba(0, 0, 0, 0);
    border-top-color: #FFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
}

@-webkit-keyframes button-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes button-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pen {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.25, 1.25);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    75% {
        transform: scale(1.75, 1.75);
    }
    100% {
        transform: scale(1, 1);
    }
}

.pen {
    width: 100px;
    height: 100px;
    display: block;
    background-color: #00918b;
    animation: pen 1s linear;
    margin: 0 auto;
    animation-iteration-count: infinite;
}