@import url("../base.css");

.color-block {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    background: #379882;
    border: 10px solid #984552;
    box-sizing: border-box;
}

.title {
    padding: .5em;
    color: green;
    font-family: "Consolas", monospace;
    font-size: 2em;
    -webkit-user-select: none;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.title:active {
    color: red;
}

.half {
    width: 50vw;
    height: 50vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bg-img-1 {
    background: url("http://desk.fd.zol-img.com.cn/g5/M00/0B/0E/ChMkJlYgm0CIXZTnAAaVQF5HK5MAADvGgKGcOEABpVY002.jpg") no-repeat;
    background-size: cover;
}

.bg-img-2 {
    border: 1px solid red;
    background: url("http://img1.hao123.com/data/1_9ed9e5b578279f310a7896fbd7feb6b5_0") no-repeat;
    background-size: cover;
}
