.title {
    border: 0 double #00827c;
    width: 200px;
    margin: 80px auto;
    transition: transform 0.67s, background-color 1s, width 0.67s;
    background-color: #308069;
    text-align: center;
    position: relative;
}

.new-title {
    transform: rotate(360deg);
    background-color: #dd82ff;
    width: 300px;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.animation-title {
    -webkit-animation: showMe 1s linear 0s infinite alternate;
}

@-webkit-keyframes showMe {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 200px;
        top: 0;
        transform: rotate(360deg);
    }

    50% {
        left: 200px;
        top: 200px;
        transform: rotate(720deg);
    }

    75% {
        left: 0;
        top: 200px;
        transform: rotate(360deg);
    }

    100% {
        left: 0;
        top: 0;
        background-color: #800e2d;
        transform: rotate(0deg);
    }
}

.container {
    display: flex;
}

.nav {
    width: 200px;
}

.flex-column {
    -webkit-flex: 1;
    flex: 1;
}